
.clickableText {
  margin-top: 25px;
  color: #00cf69;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 7px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.39);
  border: solid 3px rgb(66, 68, 85);
  padding: 5px;
}

.clickableText:active{
  background-color: rgb(47, 50, 70);
  box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.39);
  border: solid 3px rgb(62, 63, 78);
  color: #01b65b;
  }

.clickableTextContainer {
  justify-content: space-evenly;
  display: flex;  
}


.chosenButton {
  margin-top: 25px;
  color: #0491FF;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 7px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.39);
  border: solid 3px #0491FF;
  padding: 5px;
}

.notChosenButton {
  margin-top: 25px;
  color: #545454;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 7px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.39);
  border: solid 3px rgb(66, 68, 85);
  padding: 5px;
}