  /* We're working with the body tag, and so with the WHOLE mydiv */
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

body {
  background-color: #2c2e33;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#mypage {
  width: auto;
  height: 98vh;
  background-color: #2c2e43;
  top: 0px;
  margin: auto;
}

#chatContainer {
  width: auto;
  height: 89%;
  margin: right;
  overflow: auto;
  align-items: center;
  position: relative;
}

#block {
  height: 60vh;
}

#chatDiv {
  width: 100%;
  overflow: auto;
  background-color: #1b27a8;
  position: absolute;
  bottom: 0;
  max-height: 100%;
  min-height: 60%;
}

#chatContainer::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
border-radius: 10px;
background-color: #393B4E;
}

#chatContainer::-webkit-scrollbar
{
width: 12px;
background-color: #393B4E;
}

#chatContainer::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #555;
}

#myBtnId {
  width: 42px;
  height: 42px;
  border-radius: 11px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.39);
  border: solid 1px #00cf69;
  background-color: #00cf69;
  color: white;
}

#myBtnId2 {
  width: 50px;
  height: 50px;
  border-radius: 11px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.39);
  border: solid 1px #0091ff;
  background-color: #2e3247;
  color: #0091ff;
}


#refresh {
  width: 50px;
  height: 50px;
  border-radius: 11px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.39);
  border: solid 1px #0091ff;
  background-color: #2e3247;
  color: #0091ff;
}

